@page "/guesswho"
@using VirtualGames.Common.Enums
@using VirtualGames.Common.Extensions
@using VirtualGames.Data
@using VirtualGames.Data.GuessWho
@inject GuessWhoService GuessWhoService

<h1 class="pb-2">Guess Who?</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="card col-12 border @(_isRed.HasValue && _isRed.Value ? "border-danger" : "border-info")">
            @if (!_isRed.HasValue || _game == null || _game.GetContentAs<GuessWhoGame>().GameState == GameState.NotStarted)
            {
                <div class="card-body text-center">
                    @if (_inProgressGames != null && _inProgressGames.Any())
                    {
                        <h3>In progress games</h3>
                        @foreach (var game in _inProgressGames)
                        {
                            <div class="row border border-light mx-2 p-2 justify-content-center align-middle">
                                <p class="col-lg-5 col-12">@(game.GetContentAs<GuessWhoGame>().Category.GetDescription()) Game</p>
                                <button class="col-lg-3 col-12 btn btn-danger mx-1" @onclick="@(async () => await StartOrJoinGame(true, game.Id))" disabled="@_startGameDisabled">Join Game as Red!</button>
                                <button class="col-lg-3 col-12 btn btn-info mx-1" @onclick="@(async () => await StartOrJoinGame(false, game.Id))" disabled="@_startGameDisabled">Join Game as Blue!</button>
                            </div>
                        }

                        <br/>
                    }
                    
                    <h3>New game</h3>
                    <label class="mx-2">Category:</label>
                    <select class="col-lg-4 col-12" @onchange="@((ChangeEventArgs e) => CategoryChange(e))">
                        @foreach (var category in GuessWhoCategory.Food.ToSelectList())
                        {
                            <option value=@category.Value>@category.Text</option>
                        }
                    </select>
                    <label class="mx-2">Number to guess:</label>
                    <select class="col-lg-4 col-12" @onchange="@((ChangeEventArgs e) => GuessNumChange(e))">
                        <option value=1>1</option>
                        <option value=2>2</option>
                    </select>
                    <div class="row justify-content-center mt-4">
                        <button class="col-lg-4 col-12 btn btn-danger mx-1" @onclick="@(async () => await StartOrJoinGame(true))" disabled="@_startGameDisabled">Start or Join Game as Red!</button>
                        <button class="col-lg-4 col-12 btn btn-info mx-1" @onclick="@(async () => await StartOrJoinGame(false))" disabled="@_startGameDisabled">Start or Join Game as Blue!</button>
                    </div>
                </div>
            }
            else
            {
                <GuessWhoInProgressGame Game="@_game" IsRed="@_isRed.Value" OnLeaveGame="@(() => LeaveGame())"/>
            }
        </div>
    </div>
</div>

@code {
    private Game _game;
    private GuessWhoCategory _category;
    private bool? _isRed;
    private bool _startGameDisabled;
    private int _numGuess = 1;
    private IEnumerable<Game> _inProgressGames;

    protected override async Task OnInitializedAsync()
    {
        await InitAsync();
    }

    private void CategoryChange(ChangeEventArgs e)
    {
        _category = (GuessWhoCategory)int.Parse(e.Value.ToString());
    }

    private void GuessNumChange(ChangeEventArgs e)
    {
        _numGuess = int.Parse(e.Value.ToString());
    }

    private async Task StartOrJoinGame(bool isRed, string gameId = null)
    {
        _startGameDisabled = true;
        StateHasChanged();

        _game = gameId == null ? await GuessWhoService.GetOrCreateGameAsync(_category, _numGuess) : await GuessWhoService.GetGameAsync(gameId);
        var guessWhoGame = _game.GetContentAs<GuessWhoGame>();
        _isRed = isRed;
        if (guessWhoGame.GameState == GameState.NotStarted)
        {
            guessWhoGame.GameState = GameState.InProgress;
            _game.GameContent = guessWhoGame;
            await GuessWhoService.UpdateGameAsync(_game.Id, guessWhoGame);
        }

        _startGameDisabled = false;
        _numGuess = guessWhoGame.NumToGuess;
        StateHasChanged();
    }

    private async void LeaveGame()
    {
        await InitAsync();
    }

    private async Task InitAsync()
    {
        _inProgressGames = await GuessWhoService.GetAllGamesAsync();
        _category = GuessWhoCategory.Food;
        _isRed = null;
        _startGameDisabled = false;
        StateHasChanged();
    }
}
