@using VirtualGames.Data.GuessWho
@inject GuessWhoService GuessWhoService

<div class="col-lg-2 col-4 text-center">
    <a href="javascript:void(0);" @onclick="ToggleX">
        <img src="@Item.Picture" alt="@Item.Name" width="100" height="90" style="opacity: @(BoardItem.IsVisible ? 1 : 0.1)" />
    </a>
    @if (BoardItem.IsVisible)
    {
        <p>@Item.Name</p>
    }
    else
    {
        <p><del>@Item.Name</del></p>
    }
</div>

@code {
    [Parameter]
    public GuessWhoBoardItem BoardItem { get; set; }

    [Parameter]
    public GuessWhoItem Item { get; set; }

    [Parameter]
    public Action<GuessWhoBoardItem> OnVisibilityChanged { get; set; } = b => { };

    private void ToggleX()
    {
        BoardItem.IsVisible = !BoardItem.IsVisible;
        OnVisibilityChanged(BoardItem);
        StateHasChanged();
    }
}
