@using VirtualGames.Data.GuessWho
@inject GuessWhoService GuessWhoService

<div class="col-lg-2 col-4 text-center">
    <a href="javascript:void(0);" @onclick="ToggleX">
        <img src="@Item.Item.Picture" alt="@Item.Item.Name" width="100" height="90" style="opacity: @(Item.IsVisible ? 1 : 0.1)" />
    </a>
    @if (Item.IsVisible)
    {
        <p>@Item.Item.Name</p>
    }
    else
    {
        <p><del>@Item.Item.Name</del></p>
    }
</div>

@code {
    [Parameter]
    public GuessWhoBoardItem Item { get; set; }

    [Parameter]
    public GuessWhoCategory Category { get; set; }

    [Parameter]
    public bool IsRed { get; set; }

    private async void ToggleX()
    {
        Item.IsVisible = !Item.IsVisible;
        StateHasChanged();
        await GuessWhoService.UpdateGameAsync(Category, IsRed, Item);
    }
}
