@page "/password"
@using VirtualGames.Common
@using VirtualGames.Data.Password
@inject PasswordService PasswordService

<h1>Password</h1>

@if (_gameState == GameState.NotStarted)
{
    <button class="btn btn-primary" @onclick="@(async () => await StartGameAsync())">Start game!</button>
}
else if (_gameState == GameState.InProgress)
{
    <h4>Your super secret password is: <i>@_currentWord</i></h4>
    <p>Time left: @_timer.ToString(@"mm\:ss")</p>
    <p>Number correct: @_numCorrect</p>
    <p>Passwords left: @(_words.Count + 1)</p>
    <button class="btn btn-success" @onclick="CorrectGuess">Correct guess!</button>
    <button class="btn btn-danger" @onclick="Taboo">I said the password!</button>
    <button class="btn btn-secondary" @onclick="Pass">Pass!</button>
}
else
{
    <p>You got @_numCorrect passwords right out of @_totalWords!</p>
    <button class="btn btn-primary" @onclick="@(async () => await StartGameAsync())">New game!</button>
}

@code {
    private string _currentWord;
    private TimeSpan _timer;
    private int _numCorrect;
    private int _totalWords;
    private GameState _gameState;
    private Queue<string> _words;

    private async Task StartGameAsync()
    {
        _words = new Queue<string>(await PasswordService.GetPasswordsForGame());
        _totalWords = _words.Count;
        _numCorrect = 0;
        _currentWord = _words.Dequeue();
        _timer = TimeSpan.FromMinutes(2);
        _gameState = GameState.InProgress;
        CountDown();
    }

    private void CorrectGuess()
    {
        _numCorrect++;

        if (_words.Count == 0)
        {
            _timer = TimeSpan.Zero;
            return;
        }

        _currentWord = _words.Dequeue();
    }

    private void Pass()
    {
        _words.Enqueue(_currentWord);
        _currentWord = _words.Dequeue();
    }

    private void Taboo()
    {
        _currentWord = _words.Dequeue();
    }

    async void CountDown()
    {
        while (_timer.TotalSeconds > 0)
        {
            await Task.Delay(TimeSpan.FromSeconds(1));
            _timer = _timer.Add(new TimeSpan(0, 0, 0, -1));
            StateHasChanged();
        }

        _gameState = GameState.Finished;
        StateHasChanged();
    }
}
